.select {
  width: 100%;
  margin-bottom: 50px;

  @media screen and (min-width: 550px) {
    width: 500px;
  }
}

.selectLabel {
  display: flex;
  justify-content: space-between;
  padding: 3px 7px;
  font-size: 12px;
  color: hsla(0, 0, 60, 100%);
}

.selectLabelSpan {
  color: hsla(1, 80, 50, 50%);
}

.selectField {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid hsla(0, 0, 90, 100%);
  font-size: 14px;
  color: hsla(0, 0, 50, 100%);
  outline: none;

  &::placeholder {
    color: hsla(0, 0, 85, 100%);
  }

  &:focus {
    box-shadow: 0 0 0 3px hsla(200, 100, 80, 40%);
  }
}
