.pricingFeatures {
  margin: 0 auto 100px;
  width: 90%;

  @media screen and (min-width: 700px) {
    width: 60%;
  }
}

.pricingFeaturesHeader {
  padding: 100px 0 50px;
  font-size: 24px;
  font-weight: 900;
  color: hsla(6, 85, 73, 100%);
  text-align: center;
}

.perkList {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  list-style: none;
  color: hsla(0, 0, 40, 100%);

  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
  }
}

.perkListItem {
  padding: 20px 20px 20px 70px;
  border: 1px solid hsla(0, 0, 90, 100%);
  border-radius: 20px;
}

.perkTitle {
  padding-bottom: 10px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: -35px;
    padding-right: 10px;
  }
  span {
    font-weight: 900;
  }
}
