.langInput {
  width: 100%;
  margin-bottom: 50px;
  border: none;

  @media screen and (min-width: 550px) {
    width: 500px;
  }
}

.legendWrapper {
  display: flex;
  justify-content: space-between;
  padding: 3px 7px;
  font-size: 12px;
  color: hsla(0, 0, 60, 100%);
}

.langInputLabelSpan {
  color: hsla(1, 80, 50, 50%);
}

.radioWrapper {
  border: 1px solid hsla(0, 0, 90, 100%);
  border-radius: 10px;
}

.langInputLabel {
  display: block;
  font-size: 14px;
  color: hsla(0, 0, 50, 100%);
  padding: 15px 0 15px 20px;
  &:focus {
    box-shadow: 0 0 0 3px hsla(200, 100, 80, 40%);
  }
}

.langInputField {
  margin-right: 10px;
}
