.previousNextWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px 100px;
}

.previousNextBtn {
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  background-color: hsla(209, 61, 43, 100%);
  color: hsla(100, 100, 100, 100%);
  font-weight: 900;
  transition: 0.2s background-color;

  &:hover {
    background-color: hsla(43, 100, 60, 100%);
    cursor: pointer;
  }

  &:disabled {
    background-color: hsla(43, 0, 80, 100%);
    cursor: auto;
  }
}
